//IMPORTANT: Why am I not using scss variables? Because I want to be able to change the theme real time. Scss variables are not dynamic. Css variables are. So we need to use css variables for our theme colors. I figures its just easier to have all of these in one place instead of spread out in multiple places.
:root {
  //FONTS
  //These are automatically being brought in from the _app.tsx file from the nextjs next/google/fonts plugin
  // --serif-font,
  // --sanserif-font,

  //Other Variables
  --container-width: 1200px;
  --border-radius-sm: 2px;
  --border-radius: 6px;
  --border-radius-lg: 12px;
  --default-transition: 0.2s ease-out;
  /////// COLORS ///////
  //NOTE: HSL reads as hsl(hue, saturation, lightness)
  --red: hsl(7, 99%, 65%); //#ff725e
  --darkRed: hsl(7, 65%, 56%); //#ff725e
  --white: hsl(60, 12%, 97%); //#f7f8f6
  --lightBlue: hsl(182, 43%, 76%); //#a8dadc
  --medBlue: hsl(203, 39%, 44%); //#457b9d
  --darkBlue: hsl(215, 50%, 23%); //#1d3557

  //Generics
  --main-accent: var(--red);
  --link-color: var(--red);
  --link-visited: var(--darkRed);

  /////// THEME COLORS ///////
  //All theme color variables for light mode
  //Default dark theme colors
  --main-background: var(--white);
  --main-foreground: var(--darkBlue);
  //For the header
  --header-background: var(--red);
  --header-foreground: var(--white);
  //For the footer
  --footer-background: var(--darkBlue);
  --footer-foreground: var(--white);
  //For gradients
  --main-bkg-start: var(--lightBlue);
  --main-bkg-end: var(--medBlue);

  //All theme colors for dark mode
  @media (prefers-color-scheme: dark) {
    //Overriding s the default light theme colors with dark theme colors
    --main-background: var(--darkBlue);
    --main-foreground: var(--white);
    //For the header
    --header-background: var(--red);
    --header-foreground: var(--white);
    //For the footer
    --footer-background: var(--lightBlue);
    --footer-foreground: var(--darkBlue);
    //For gradients
    --main-bkg-start: var(--medBlue);
    --main-bkg-end: var(--darkBlue);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px;
  background: var(--main-background);
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-foreground);
}
p {
  font-family: var(--sanserif-font);
}
a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
  transition: color var(--default-transition);

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--red);
    transition: width var(--default-transition);
  }

  &:visited {
    color: var(--link-visited);
    &::after {
      background: var(--link-visited);
    }
  }

  &:hover::after {
    width: 100%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font);
}
//Based off this typescale https://type-scale.spencermortensen.com/6/3.25/0/16px
h1 {
  font-size: 3.25rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.22rem;
}
small {
  font-size: 0.8125rem;
}

#main-wrapper {
  min-height: 90.75vh;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  //Dark Theme Style Overrides
  // //This makes sure the important bits aren't missed https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
  // html {
  //   color-scheme: dark;
  // }
}
