._ {
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  width: 100%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  @include _prefersDark {
    background: var(--darkBlue);
  }
  .content {
    padding: 4%;
    width: 100%;
    max-width: 700px;
    @include _minWidthMobile {
      padding: 2rem;
      width: 50%;
    }
  }
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;

    @include _minWidthTablet {
      font-size: 3rem;
      line-height: 3.5rem;
    }
    @include _minWidthMedium {
      font-size: 3.5rem;
      line-height: 4rem;
    }
  }
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 1rem 0;
  }
  .graphic {
    width: 100%;
    max-width: 700px;
  }
  @include _minWidthMobile {
    flex-direction: row;

    .graphic {
      width: 45%;
    }
  }
}
