._ {
  width: 100%;
  background-color: var(--lightBlue);
  color: var(--darkBlue);
  padding: 8%;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
    @include _minWidthTablet {
      margin-bottom: 4rem;
    }
  }
  h3 {
    color: var(--accent-color);
  }
  p {
    margin: 0 auto;
    max-width: 700px;
  }
  .cards {
    text-align: center;
    width: 100%;
    display: flex;
    grid-gap: 4%;
    @include _minWidthMobile {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  .card {
    text-align: center;
    width: 45%;

    @include _minWidthMobile {
      width: 30%;
    }
  }
  @include _prefersDark {
    background-color: darken($darkBlue, 4%);
    color: var(--white);
  }
}
