._ {
  @include _basePadding;

  h2 {
    color: var(--red);
    @include _prefersDark {
      color: var(--white);
    }
  }
  .children {
    padding-top: $baseVerticalPadding;
    padding-bottom: $baseVerticalPadding;
  }

  // @include _prefersDark {
  //   background-color: var(--darkBlue);
  //   color: var(--white);
  // }

  // @include _prefersDark {
  //   background-color: var(--medBlue);
  //   h2 {
  //     color: var(--white);
  //   }
  // }
}
