._ {
  @include _basePadding;

  h2 {
    color: var(--red);
    text-align: center;
  }
  .description {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    @include textMaxWidth;
  }
  .children {
    padding-top: $baseVerticalPadding;
    padding-bottom: $baseVerticalPadding;
  }

  // @include _prefersDark {
  //   background-color: var(--darkBlue);
  //   color: var(--white);
  // }

  // @include _prefersDark {
  //   background-color: var(--medBlue);
  //   h2 {
  //     color: var(--white);
  //   }
  // }
}
