* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
h2 {
  font-family: var(--serif-font);
}
p {
  font-family: var(--sanserif-font);
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  //Dark Theme Style Overrides
  // //This makes sure the important bits aren't missed https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
  // html {
  //   color-scheme: dark;
  // }
}
